@using MvcOnlineOtomasyon.Models.Concrete
@model List<SalesMove>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <h2>Müşteri Detay Sayfası</h2>
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Müşteri Adı: @ViewBag.v1</li>
    </ol>
    <table class="table table-bordered">
        <tr>
            <th>Ürün Adı</th>
            <th>Satıcı</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam Fiyat</th>
            <th>Tarih</th>

        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Product.ProductName</td>
                <td>@x.Personel.PersonelName @x.Personel.PersonelLastName</td>
                <td>@x.Quantity</td>
                <td>@x.Price</td>
                <td>@x.SumPrice</td>
                <td>@(((DateTime)x.Date).ToString("dd-MMM-yyyy"))</td>
            </tr>
        }
    </table>
    <div class="form-group">

        <a href="/Customer/Index" class="btn btn-outline-danger float-right">Geri Dön</a>
    </div>
</div>

