
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">@ViewBag.v1</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Ürün Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">@ViewBag.v2</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Personel Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">@ViewBag.v3</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Kategori Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">@ViewBag.v4</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Müşteri Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> 
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">@ViewBag.v5</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Departman Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> 
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">@ViewBag.v6</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Toplam Stok</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">@ViewBag.v7</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Marka Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">@ViewBag.v8</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Kritik Seviye</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">@ViewBag.v9</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Max Fiyatlı Ürün</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">@ViewBag.v10</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Min Fiyatlı Ürün</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">@ViewBag.v11</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Max Marka</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">@ViewBag.v12</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Bilgisayar Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">@ViewBag.v13</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Beyaz Eşya Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">@ViewBag.v14</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Kasadaki Tutar</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">@ViewBag.v15</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Günlük Satış</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">0</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Günlük Kasa</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div><div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">@ViewBag.v17</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>En Çok Satan</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Faturalar Sayısı</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Fatura Kalemler</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div> <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p>Giderler</p>
                    <div class="small text-white"></div>
                </div>
            </div>
        </div>
    </div>
</div>