@using MvcOnlineOtomasyon.Models.Concrete
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoGetir";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("KargoGetir", "CustomerPanel", FormMethod.Get))
    {
        <p>
            Kargo Takip Kodu: @Html.TextBox("p")
            <input type="submit" value="Ara" />
        </p>
    }

    <div class="form-group">
        <table class="table table-bordered" style="margin-top:10px;">
            <tr>
                <th>Personel</th>
                <th>Alıcı</th>
                <th>Takip Kodu</th>
                <th>Tarih</th>
                <th>Detay</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Personel</td>
                    <td>@x.Alici</td>
                    <td>@x.TakipKodu</td>
                    <td>@x.Tarih</td>
                    <td><a class="btn btn-default" style="background-color:slateblue;color:white" href="/Kargo/KargoTakip/@x.KargoDetayId"><i class="fas fa-info-circle"></i> Detay</a></td>


                </tr>

            }
        </table>
    </div>
   
</div>




